<div class="container">
    <div [ngClass]="currentClasses">
        <div class="wrapper">
            <div class="header">
                <span>MusicBox<i nz-icon nzType="customer-service" nzTheme="outline"></i></span>
            </div>
            <div class="panel">
                <div class="info">
                    <div class="album">
                        <span>专辑名</span>
                    </div>
                    <div class="name">
                        <span class="song-name">{{songName}}</span>
                        <span class="artist-name">歌手</span>
                    </div>
                    <div class="progress">
                        <div class="progressbar">
                            时间
                        </div>
                        <div class="pic">

                        </div>
                    </div>
                    <div class="handle">
                        <i nz-icon nzType="step-backward" nzTheme="outline"></i>
                        <i nz-icon nzType="pause" nzTheme="outline"></i>
                        <i nz-icon nzType="step-forward" nzTheme="outline"></i>
                    </div>
                </div>
            </div>
        </div>
        <audio src="" style="display: none;"></audio>
    </div>
    <div class="content" #content>
        <div class="nav">
            <ul>
                <li><a [routerLink]="['/playlists']" routerLinkActive="router-link-active" ><i nz-icon nzType="wallet" nzTheme="outline"></i>歌单</a></li>
                <li><a [routerLink]="['/search']" routerLinkActive="router-link-active" ><i nz-icon nzType="search" nzTheme="outline"></i>搜索</a></li>
            </ul>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>