<div class="container">
    <div [ngClass]="currentClasses">
        <div class="wrapper">
            <div class="header">
                <span>MusicBox<i nz-icon nzType="customer-service" nzTheme="outline"></i></span>
            </div>
            <div class="panel">
                <div class="info">
                    <div class="album">
                        <span>{{songListName}}</span>
                    </div>
                    <div class="name">
                        <span class="song-name">{{songList[currentIndex]?.name}}</span>
                        <span class="artist-name" *ngFor="let artist of songList[currentIndex]?.artist">{{artist?.name}}</span>
                    </div>
                    <div class="progress">
                        <div class="progressbar" #progressBar>
                            <span class="dot" #dot [ngStyle]="dotStyle"></span>
                            -{{currentTime| timeTransform}}
                        </div>
                        <div class="pic">
                            <img [src]="songList[currentIndex]?.imgUrl" *ngIf="songList[currentIndex]" [ngClass]="{'rotate': !isPaused}">
                        </div>
                    </div>
                    <div class="handle">
                        <i nz-icon nzType="step-backward" nzTheme="outline" *ngIf="showPrevButton" (click)="onPrev($event)"></i>
                        <i nz-icon [nzType]="isPaused ? 'caret-right' : 'pause'" nzTheme="outline" (click)="onPlay($event)"></i>
                        <i nz-icon nzType="step-forward" nzTheme="outline" (click)="onNext($event)"></i>
                    </div>
                </div>
            </div>
        </div>
        <audio #audio></audio>
    </div>
    <div class="content" #content>
        <div class="nav">
            <ul>
                <li><a [routerLink]="['/playlists']" routerLinkActive="router-link-active" ><i nz-icon nzType="wallet" nzTheme="outline"></i>歌单</a></li>
                <li><a [routerLink]="['/search']" routerLinkActive="router-link-active" ><i nz-icon nzType="search" nzTheme="outline"></i>搜索</a></li>
            </ul>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>
